<%- include("header") -%>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Uh Oh!</h1>
        <p class="lead">The product ID is not in our database. Check the ID</p>
        <form class="" action="/update" method="get">
          <button class="btn btn-lg btn-warning"type="submit" name="button">Try Again</button>
        </form>
      </div>
    </div>
    <%- include("footer") -%>
