<%- include("partials/header") -%>
<div style="margin-top: 100px">
<div class="container align">
    <div class="card-form text-center homeCard">
        <div class="card-header mb-4">
            <h3>Products - Tracking</h3>
        </div>
        <div class="card-body my-5">
        <h6 class="card-title">Keep track of your products.</h6>

        <div class="row my-4 my-5">

            <div class="col-sm-3">
                <form action="/create" method="get">
                <button class="btn btn-primary my-4">Add Product</button>
                </form>
            </div>
            <div class="col-sm-3">
                <form action="/viewall" method="get">
                <button class="btn btn-primary my-4">View all</button>
                </form>
            </div>
            <div class="col-sm-3">
                <form action="/viewall" method="get">
                <button class="btn btn-primary my-4">Update</button>
                </form>
            </div>
            <div class="col-sm-3">
                <form action="/filter" method="get">
                <button class="btn btn-primary my-4">Filter</button>
                </form>
            </div>
    </div>

    </div>
    </div>
</div>
</div>
<%- include("partials/footer") -%>
