<%- include("partials/header") -%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Awesome!</h1>
      <p class="lead">Your operation is successful</p>
      <form class="" action="/viewall" method="get">
        <button class="btn btn-lg btn-warning"type="submit" name="button">View Products</button>
      </form>
    </div>
  </div>
  <%- include("partials/footer") -%>